*{
    margin: 0;
    padding: 0;
}

body{
    background: linear-gradient(#f9f7e8, #f8efa9);
    height: 100vh;
}

#container{
    position: relative;
    top: 5vh;
    left: 5vh;
    width: 60vw;
    height: 90vh;
    display: grid;
    grid-template-rows: repeat(3, 33%);
    grid-template-columns: repeat(4, 25%);
}

.card{
    width: 60%;
    height: 90%;
    margin: 5% auto;
    position: relative;
    cursor: pointer;
}

.recto{
    position: absolute;
    background-color: #fff;
    border: 2px solid #62BFAD;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 5vw;
    line-height: 27vh;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.verso{
    position: absolute;
    background: url('./back.jpg') no-repeat center;
    background-size: 80%;
    border: 2px solid transparent;
    border-radius: 5%;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all 1s ease;
}

.flipcard{
    transform: rotateY(180deg) !important;
}

.pointer-none{
    pointer-events: none;
}

.popup{
    position: absolute;
    top: 30vh;
    left: 60vw;
    z-index: 1;
    width: 40vw;
    height: 40vh;
}

.popup > p{
    text-align: center;
    font-size: 3vw;
    line-height: 40vh;
}